@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue');
/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet"> */

body {
    font-family: 'Roboto Bold', sans-serif;
    padding:0px;
    margin:0px;
    max-width:100%;
    overflow-x:hidden;
    scroll-behavior: smooth;
    background:rgb(0, 0, 0);
}
#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgb(0, 0, 0);
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
svg {
    width: 80px;
    fill-opacity: 0;
    animation: fadeOpacity 0.7s forwards 0.7s;
    -webkit-animation: fadeOpacity 0.7s forwards 0.7s;
    
  }
  
  

  svg path.cls-1{
    /* stroke:rgb(255, 255, 255); */
    stroke-width: 2;
    /* fill:rgb(0, 0, 0); */
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: draw 0.5s forwards 0s;
    -webkit-animation: draw 0.5s forwards 0s;
  }
  svg path.cls-3{
    /* stroke:rgb(255, 255, 255); */
    stroke-width: 2;
    /* fill:rgb(0, 0, 0); */
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: draw 1s forwards 0.2s;
    -webkit-animation: draw 1s forwards 0.2s;
  }
  svg path.cls-4{
    /* stroke:rgb(255, 255, 255); */
    stroke-width: 2;
    /* fill:rgb(0, 0, 0); */
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: draw 1s forwards 0.8s;
    -webkit-animation: draw 1s forwards 0.8s;
  }

  svg path.cls-2{
    /* stroke:#247df1; */
    stroke-width: 2;
    /* fill:rgb(0, 0, 0); */
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: draw 0.4s forwards 1s;
    -webkit-animation: draw 0.4s forwards 1s;
  }
  
  @keyframes draw {
    from {
      stroke-dashoffset: 1;
    }
    to {
      stroke-dashoffset: 0;
    }
    
    
  }

  
  
  

  @-webkit-keyframes draw {
    from {
      stroke-dashoffset: 1;
    }
    to {
      stroke-dashoffset: 0;
    }
    
    
  }
  

  @keyframes fadeOpacity {
    from {
      fill-opacity:0;
    }
    to {
      fill-opacity: 1;
    }
  }

  @-webkit-keyframes fadeOpacity {
    from {
      fill-opacity: 0;
    }
    to {
      fill-opacity: 1;
    }
  }

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
header {
    width:92vw;
    padding:6vh 4vw;
    position:fixed;
    font-weight:bold;
    background:rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    transition:0.6s ease-in-out;
    z-index:2;
}
header table {
    width:100%;
}
#logo {
    width:30%;
    /* justify-content: center; */
}
#navigation {
    width:80%;
    
}
#magnify {
    width:100vw;
    height:100vh;
    background:rgba(0, 0, 0, 0.92);
    position:fixed;
    z-index:4;
    display:none;
    flex-direction: column;
    justify-content:center;
}
#magnify h1 {
    position:absolute;
    top:0;
    right:0;
    margin:20px 40px;
    color:rgb(255, 255, 255);
    transition:0.4s ease-in-out;
}
#magnify h1:hover{
    color:rgb(255, 255, 255);
    cursor:pointer;
}
#img_here {
    width:90%;
    height:90%;
    background-size:contain !important;
    background-repeat:no-repeat !important;
    margin:0px auto;
}
#logo {
    font-size:36px;
    color:rgb(255, 255, 255);
    text-align:left;
}
#navigation {
    text-align:right;
}
#navigation a {
    color:#fff;
    text-decoration:none;
    padding:5px 10px;
    border-bottom:2px solid transparent;
    margin-left:4vw;
    transition:0.6s ease-in-out;
}
#navigation a:hover{
    border-bottom:2px solid #fff;
}
#top_part {
    width:100%;
    /* border:2vh solid rgb(0, 0, 0); */
}
#top_part tr td{
    width:50%;
}
#about {
    width:84% !important;
    height:95vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:left;
    color:rgb(255, 255, 255);
    padding:0px 8%;
}
#about h1 {
    font-size:45px;
    color:rgb(255, 255, 255);
    word-wrap:break-word;
}
#about h2 {
    
    font-size:20px;
    font-weight:normal;
    color:rgb(255, 255, 255);
    word-wrap:break-word;

}


#about table {
    width:70%;
    margin-top:4vh;
}
#about table tr td {
    width:20% !important;
    text-align:left;
}
.social {
    color:rgb(255, 44, 90);
    font-size:23px;
    padding:12px 17px;
    border-radius:50%;
    background:rgb(0, 0, 0);
    transition:0.4s ease-in-out;
    font-weight:bold;
    margin:0px 8px;
}
.social:hover { 
    cursor: pointer;
    color:rgb(0, 0, 0);
    background:rgb(255, 44, 90);
    /* box-shadow:0px 10px 30px rgba(255, 66, 107,0.8); */
}
.btn_one {
    font-size:18px;
    font-family: 'Poppins', sans-serif;
    color:rgb(255, 44, 90);
    background:rgb(0, 0, 0);
    border:3px solid rgb(255, 44, 90);
    padding:8px 40px;
    width:35%;
    border-radius:80px;
    font-weight:bold;
    margin:2vh 0px;
    transition:0.4s ease-in-out;
}
.btn_one:hover {
    box-shadow:0px 10px 30px rgba(255, 44, 90, 0.8);
    cursor:pointer;
    color:rgb(0, 0, 0);
    background:rgb(255, 44, 90);
}
#rightImage {
    width:100%;
    height:50vh;
    /* background:linear-gradient(0deg,rgba(44, 213, 255, 0.5),rgba(2255, 44, 90, 0.8)),url('will.png'), center center; */
    background:linear-gradient(0deg,rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url('will.png'), center center;
    background-position-y:50%;
    background-position-x:50%;
    /* background-size:contain; */
    background-size: 70% auto;
    background-repeat:no-repeat;
}
#work {
    width:92vw;
    padding:6vh 4vw;
    font-weight:normal;
    color:rgb(255, 255, 255);
}


#work h1 {
    padding:5px 0px;
    border-bottom:4px solid rgb(255, 44, 90);
    width:6%;
    color:rgb(255, 255, 255);
    
}

#work h2 {
    
    font-size:20px;
    font-weight:bold;
    color:rgb(255, 255, 255);
    word-wrap:break-word;

}
#undergrad {
    background-color: #fff;
    width:100%;
    padding:3vh 4vw;
    font-weight:normal;
    color:rgb(0, 0, 0);
    

}
#undergrad h2 {
    
    font-size:20px;
    font-weight:Bold;
    color:rgb(0, 0, 0);
    word-wrap:break-word;
    background-color: #fff;

}
#photosMain {
    width:100%;
    columns:2;
    column-gap:4%;
    z-index:1;
    transition:0.4s ease-in-out;
    justify-content: center;
    background-color: #fff;
    
}

  
#videos {
        width:100%;
        columns:2;
        column-gap:4%;
        z-index:1;
        margin:0% 0px;
        padding-top: 10vw;
        transition:0.4s ease-in-out;
        justify-content: center;
        background-color: #fff;
        padding-bottom: 10vw;
}
#photosMain img {
    width:80%;
    height:auto;
    margin:0% 0px;
    transition:0.4s ease-in-out;
    justify-content: center;
    background-color: #fff;
    padding-top: 10vw;

}

#photos {
    width:100%;
    columns:5;
    column-gap:3%;
    margin:0% 0px;
    margin-right: 10% 10px;
    z-index:1;
    transition:0.4s ease-in-out;
    justify-content: left;
    
    
}
#photos img {
    width:100%;
    height:auto;
    margin:0% 0px;
    transition:0.4s ease-in-out;
    justify-content: center;
    padding-top: 10vw;
}
#poster {
    width:100%;
    
    columns:1;
    column-gap:0%;
    z-index:1;
    transition:0.4s ease-in-out;
    /* justify-content: center; */
    max-width:100%;
    height:auto;
    
}
#poster img {
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%;
    max-width:100%;
    height:auto;
}
#photos img:hover {
    /* transform: scale(1.1); */
    cursor: pointer;
}
/* #bio {
    font-family: 'Roboto', sans-serif;
    width:92vw;
    color: rgb(0, 0, 0);
    background-color: #fff;
    padding:6vh 4vw;
    font-weight:bold;
} */
#bio {
    font-family: 'Roboto', sans-serif;
    width:92vw;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding:6vh 4vw;
    font-weight:bold;
}
#bio h1 {
    font-family: 'Roboto Bold', sans-serif;
    padding:5px 0px;
    border-bottom:4px solid rgb(255, 44, 90);
    color: rgb(255, 255, 255);
    width:8%;
}
#contact {
    width:92vw;
    color: #fff;
    padding:6vh 4vw;
}
#contact h1 {
    padding:5px 0px;
    color: #fff;
    border-bottom:4px solid rgb(255, 44, 90);
    width:10%;
}
#contact table {
    width:100%;
}
#contact table tr td {
    width:50%;
}
#inner_div table{
    width:100%;
}
#inner_div table tr td{
    font-weight:bold;
}
#inner_table tr td{
    padding:10px 20px !important;
}
#contact form {
    width:100%;
}
#contact form input {
    width:96%;
    margin:20px 1%;
    background:rgb(0, 0, 0);
    border:0px;
    border-bottom:3px solid rgba(255, 44, 90,0.5);
    padding:8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    transition:0.4s ease-in-out;
    color:rgb(255, 255, 255);
    font-weight:bold;
}
#contact form textarea {
    width:96%;
    margin:20px 1%;
    padding:8px 10px;
    border:0px;
    border-bottom:3px solid rgba(255, 44, 90,0.5);
    padding:8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    background:transparent;
    resize:none;
    transition:0.4s ease-in-out;
    color:rgb(255, 255, 255);
    font-weight:bold;
}
#contact form input:focus {
    outline:none;
    border-bottom:3px solid rgba(255, 44, 90,1);
}
#contact form textarea:focus {
    outline:none;
    border-bottom:3px solid rgba(255, 44, 90,1);
}
#address {
    position:relative;
    top:-25px;
    
    left:30px;
}

#footer {
    width:100%;
    padding:10vh 0px;
    text-align:center;
    font-weight:bold;
}
#footer a {
    color:rgb(255, 44, 90);
    text-decoration:none;
}
::placeholder {
    color:rgb(255, 255, 255);
}
button:focus {
    outline:none;
}
::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: rgb(0, 0, 0); 
}
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.8); 
}

@media (max-width: 1000px){
    #photos {
    columns:1;
    column-gap:0%;
    }
    #photos img {
        margin:2% 0px;
    }
    /* #photos img:hover {
        transform: scale(1);
        cursor: pointer;
    } */
    #rightImage {
        display:none;
    }
    #top_part {
        border:0px;
    }
    #top_part tr td{
        width:100%;
        text-align:center;
    }
    #about {
        width:92% !important;
        height:75vh;
        padding-top:20vh !important;
        text-align:center;
        padding:0px 4%;
    
        
    }
    #about table {
        width:100%;
        margin-top:6vh;
    }
    #about table tr td {
        text-align:center;
    }
    .btn_one {
    padding:6px 30px;
    width:60%;
    margin:4vh auto;
    /* box-shadow:0px 10px 20px rgba(255, 44, 90, 0.8); */
    background:rgb(0, 0, 0);
    color:rgb(255, 44, 90);
    }
    .btn_one:hover {
        box-shadow:0px 10px 40px rgba(255, 44, 90, 0.8);
        cursor:pointer;
    }
    #contact table tr td {
        width:100%;
        display:block;
    }
    #inner_table tr td{
        padding:10px 0px !important;
    }
    #contact form input {
        width:90%;
    }
    #contact form textarea {
        width:90%;
    }
    #work h1 {
        width:19%;
    }
    #bio h1 {
        width:25%;
    }
    #contact h1 {
        width:33%;
    }
    header {
        width:96vw;
        background:rgb(0, 0, 0);
        padding:4vh 2vw;
        position:absolute;
    }
    #header table tr td {
        width:100%;
        display:block;
        text-align:center;
        padding:15px 0px;
    }
    #navigation a {
        color:rgb(255, 255, 255);
    }
}